@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>LIÊN HỆ ĐẶT QUẢNG CÁO</h2>
<p>TRỤ SỞ VĂN PHÒNG</p>
<p>118 Đường 3/2, P.12, Q.10, TP.HCM</p>
<br />
<p>HOTLINE</p>
<p>086 215 7979</p>
<br />
<p>EMAIL</p>
<p>tuvan@muzika.edu.vn</p>
<br />
<p>THEO DÕI CHÚNG TÔI</p>
@*<a href="#"><img src="~/Images/facebook.JPG" width="50" /></a>*@
<a href="https://www.facebook.com/xuanhuyonline" target="_blank"><img src="~/Images/facebook.JPG" width="50" /></a>
<a href="#"><img src="~/Images/Global.JPG" width="50" /></a>
<a href="#"><img src="~/Images/youtube.JPG" width="50" /></a>


